<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Songs</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<nav th:replace="layout/navbar :: navbar('songs')"></nav>

<section class="container below-nav position-relative">
  <div class="col-10 mx-auto bg-light px-5 mb-5">
    <div class="pt-5">
      <h4 class="font-weight-bold">Result search: <span th:text="${param.query}"></span></h4>
    </div>
    <div class="row my-5">
      <div class="col-12">
        <ul class="list-group" th:each="song : ${result}">
          <li class="list-group-item bg-light p-0 pb-4">
            <a href="#" class="name-of-song">
              <img th:src="${song.getLinkImage()}" width="40" height="40" alt="" class="img thumbnail pull-left mr-2">
              <h6 class="mb-1 text-dark" th:text="${song.getName()}"></h6>
            </a>
            <p class="mb-0 singer">Singer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="music-player fixed-bottom" style="height: 70px;">
  <audio class="d-block mx-auto mt-2" controls>
    <source src="music/hay_trao_cho_anh_ft_snoop_dogg.mp3" type="audio/ogg">
  </audio>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</body>

</html>
