<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--  <meta name="description" content="">-->
<!--  <meta name="author" content="">-->
<!--  <title>All Playlists</title>-->
<!--  <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--  <link th:href="@{/css/style.css}" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<div class="d-flex" id="wrapper">-->
<!--  <div class="bg-light border-right" id="sidebar-wrapper">-->
<!--    <div class="sidebar-heading"><b>Music Hub</b></div>-->
<!--    <div class="list-group list-group-flush">-->
<!--      <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>-->
<!--      <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>-->
<!--      <a th:href="@{/add-new-song}" class="list-group-item list-group-item-action bg-light">Upload song</a>-->
<!--      <a href="#" class="list-group-item list-group-item-action bg-light">Favorite songs</a>-->
<!--      <a th:href="@{/list}" class="list-group-item list-group-item-action bg-light">Playlist</a>-->
<!--      <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div id="page-content-wrapper">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">-->
<!--      <span class="navbar-toggler-icon" id="menu-toggle"></span>-->
<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">-->
<!--          <li class="nav-item active">-->
<!--            <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Admin</a>-->
<!--          </li>-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
<!--               aria-haspopup="true" aria-expanded="false">-->
<!--              Option-->
<!--            </a>-->
<!--            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">-->
<!--              <a class="dropdown-item" href="#">Change Password</a>-->
<!--              <a class="dropdown-item" href="#">User Manager</a>-->
<!--              <a class="dropdown-item" href="#">Something else here</a>-->
<!--              <div class="dropdown-divider"></div>-->
<!--              <a class="dropdown-item" href="#">Log out</a>-->
<!--            </div>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </nav>-->
<!--    <div class="container-fluid mt-50">-->
<!--      <h1 style="text-align: center">All Playlists</h1>-->
<!--      <a th:href="@{/playlist/create}"><div class="btn btn-danger">Create new playlist</div></a>-->
<!--      <div class="row mt-50">-->
<!--        <div class="col-md-3" th:each="playlist : ${playlists}">-->
<!--          <div class="parent">-->
<!--            <div class="child" style="background-image: url(../../images/music-default.png);">-->
<!--              <a class="bonus" th:href="@{/playlist/detail/__${playlist.id}__}"><i class="fa fa-play" style="font-size:36px"></i></a>-->
<!--              <a class="close-btn" th:href="@{/playlist/delete/__${playlist.id}__}"><i class="fa fa-close"></i></a>-->
<!--              <a class="edit-btn" th:href="@{/playlist/edit/__${playlist.id}__}"><i class="fa fa-edit"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <a th:href="@{/playlist/detail/__${playlist.id}__}"><h3 class="text-center" th:text="${playlist.getName()}"></h3></a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <th:block th:if="${message}">-->
<!--      <h3 th:text="${message}" class="message text-danger"></h3>-->
<!--    </th:block>-->
<!--  </div>-->
<!--</div>-->
<!--<script src="../../vendor/jquery/jquery.min.js"></script>-->
<!--<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="../../js/toggleMenu.js"></script>-->
<!--</body>-->
<!--</html>-->

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Playlists</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/hover-playlist.css}">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top fixed-top py-0">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="http://musichub.scot/wp-content/uploads/2015/12/MusicHub_logo.jpg" height="50px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav pull-left text-uppercase text-center">
        <li class="nav-item mr-2">
          <a class="nav-link" href="index.html">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link active" href="allplaylists.html">Playlists</a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="songs.html">Songs</a>
        </li>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="singers.html">Singers</a>
        </li>
      </ul>
      <form class="form-inline my-2 ml-auto position-relative">
        <select name="type" id="typesearch" class="form-control position-absolute rounded-0 select-type px-2">
          <option value="1">Song</option>
          <option value="2">Playlist</option>
          <option value="3">Singer</option>
        </select>
        <input class="form-control mr-sm-2 input-search rounded-0" type="search" placeholder="Search"
               aria-label="Search">
        <button class="btn btn-search position-absolute border-info bg-info rounded-0" type="submit"><i
            class="fa fa-search text-white"></i></button>
      </form>
      <ul class="navbar-nav pull-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle ml-4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <span class="user-name">Kú Mèo</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="dashboard.html">Dashboard</a>
            <a class="dropdown-item" href="#">Change Password</a>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="p-5 container below-nav position-relative bg-white">
  <h4 class="font-weight-bold">All Playlists</h4>
  <div class="row mt-3">
    <div class="col-3 my-2 p-playlist" th:each="playlist: ${playlists}">
      <div class="parent mb-3">
        <div class="child">
          <img th:src="${playlist.getLinkAvatar()}" alt="" width="240" height="240">
          <a class="bonus" th:href="@{/playlists/__${playlist.id}__}"><i class="fa fa-play"></i></a>
        </div>
      </div>
      <a th:href="@{/playlists/__${playlist.id}__}" class="text-dark">
        <h6 class="py-3 font-weight-bold" th:text="${playlist.getName()}"></h6>
      </a>
    </div>
  </div>
</section>
<div class="music-player fixed-bottom" style="height: 70px;">
  <audio class="d-block mx-auto mt-2" controls>
    <source src="music/hay_trao_cho_anh_ft_snoop_dogg.mp3" type="audio/ogg">
  </audio>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</body>

</html>
