<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dashboard - Create singer</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/hover-playlist.css}">
</head>

<body>
<nav th:replace="layout/navbar :: navbar('')"></nav>

<div class="container position-relative below-nav bg-light">
    <div class="row py-4">
        <aside th:replace="layout/dashboard :: dashboard('singer')"></aside>
        <article class="col-9 pl-5">
            <form th:action="@{/singers/add}" th:object="${singer}" method="post">
                <div class="form-group">
                    <label for="playlistName">Name of singer</label>
                    <input type="text" class="form-control" id="playlistName" th:field="*{name}">
                </div>
                <div class="form-group">
                    <label for="description-singer">Description</label>
                    <textarea type="text" class="form-control" id="description-singer" rows="5" th:field="*{description}"></textarea>
                </div>
                <div class="form-group col-6 pl-0 pr-5 mb-0">
                    <label for="linkAvatar">Upload singer avatar</label>
                    <input type="text" class="form-control" th:field="*{linkImage}" id="linkAvatar" placeholder="Input link" />
                    <span class="position-relative text-or">OR</span>
                </div>
                <button type="submit" class="btn btn-info">Save</button>
            </form>
            <div class="create-playlist form-upload-file form-upload-avatar position-relative">
                <form method="post" enctype="multipart/form-data" id="avatarUploadForm">
                    <input type="file" name="file" accept="image/*" />
                    <button type="button" id="uploadAvatarButton" class="btn btn-info">Upload</button>
                </form>
            </div>
            <th:block th:if="${message}">
                <h3 th:text="${message}" class="message text-success"></h3>
            </th:block>
        </article>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script th:src="@{/js/getValueCheckbox.js}"></script>
<script th:src="@{/js/uploadImage.js}"></script>
</body>

</html>
