<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Singer detail</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/hover-singer.css}">
    <link rel="stylesheet" th:href="@{/playdock/css/style.css}">
</head>

<body>
<nav th:replace="layout/navbar :: navbar('')"></nav>

<article class="container position-relative below-nav" th:object="${singer}">
    <section id="song-detail-banner">
        <div class="bg-img"
             style="background: url(https://png.pngtree.com/thumb_back/fh260/back_pic/03/62/30/9157aa94e693d90.jpg) center center / cover no-repeat rgb(83, 62, 56);">
            <div class="lammonen row mx-0" style="background-color: rgba(0,0,0,.65);">
                <div class="col-3">
                    <img th:src="${singer.getLinkImage()}" width="288" height="288" alt="song-thumbnail" class="img img-responsive p-4">
                </div>
                <div class="col-9">
                    <div class="py-4 pr-5 text-white mb-5">
                        <h2 th:text="${singer.getName()}"></h2>
                        <p th:text="${singer.getDescription()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light p-3 mb-4">
        <div class="btn btn-info p-2 ml-4 btn-play"><i class="fa fa-play"></i> Play all</div>
        <span class="ml-5"><a href="#comment" class="text-info"><i class="fa fa-comment"></i> Comment</a></span>
    </section>
    <hr />
    <section class="bg-light p-3 my-4">
        <div class="row">
            <div class="col-7 px-5 br-1">
                <h3 class="mb-3">Famous songs</h3>
                <ul class="list-group list-songs-group">
                    <li class="list-group-item py-2 my-2 list-song bg-light" th:each="song, i : ${songs}" >
                        <div class="row">
                            <div class="col-1">
                                <div th:onclick="'javascript:playSong(' + ${song.getId()} + ')'"><i class="fa fa-play play-opacity pull-left position-absolute"></i></div>
                                <span th:text="${i.count}"></span>
                            </div>
                            <div class="col-7">
                                <a th:href="@{/songs/__${song.id}__}" class="name-of-song">
                                    <h6 class="my-1 text-dark" th:text="${song.getName()}"></h6>
                                </a>
                            </div>
                            <div class="col-4">
                                <span class="mb-0 singer" th:each="singer: ${song.getSingers()}" th:text="${singer.getName()+ ' '}"></span>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-5 px-5">
                <h3 class="mb-3">Recommend singer</h3>
                <ul class="list-group" style="max-height: 320px; overflow: hidden;">
                    <li class="list-group-item p-0 my-2 mt-3 bg-light" th:each="singer: ${singers}">
                        <a th:href="@{/singers/__${singer.id}__}" class="name-of-song">
                            <img th:src="${singer.getLinkImage()}" alt="" class="img thumbnail pull-left mr-2" width="40" height="40">
                            <h6 class="mb-1 text-dark" th:text="${singer.getName()}"></h6>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <hr />
    <section class="comment my-4">
        <div th:replace="layout/comment :: comment(${#request.getRequestURL()})"></div>
    </section>
</article>
<div th:replace="layout/playdock :: playdock"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script th:src="@{/playdock/js/script.js}"></script>
<script th:src="@{/js/like-heart.js}"></script>
</body>

</html>
