<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <title>Change Password - MusicHub</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/login-register/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/login-register/fonts/iconic/css/material-design-iconic-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/login-register/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/login-register/css/main.css}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('/login-register/images/bg-01.jpg');">
        <div class="wrap-login100">
            <form class="login100-form validate-form" th:action="@{/user/change-password}" th:method="post" role="form" th:object="${newPasswordDTO}">
					<span class="login100-form-title p-b-34 p-t-27">
						Change password
					</span>
                <p class="txt1 text-center font-weight-bold text-success" th:if="${param.done}" >Password has changed! Back to <a class="txt1 font-weight-bolder text-info" th:href="@{/}">Home</a> page</p>
                <p class="txt1 text-center font-weight-bold text-warning" th:if="${#fields.hasErrors('currentPassword')||#fields.hasErrors('newPassword')}" th:text="*{#fields.errors('newPassword')}"></p>
                <p class="txt1 text-center font-weight-bold text-warning" th:if="${param.invalid}">Invalid current password</p>
                <br>
                <div class="wrap-input100 validate-input" data-validate = "Please enter current password">
                    <input type="password" name="currentPassword" th:field="*{currentPassword}" class="input100" placeholder="Current Password">
                </div>

                <div class="wrap-input100 validate-input" data-validate="Please enter new password">
                    <input type="password" name="newPassword" th:field="*{newPassword}" class="input100" placeholder="New Password">
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Change
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/login-register/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/login-register/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/js/main.js}"></script>

</body>
</html>
