<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="us">
<head>
    <meta charset="utf-8">
    <title>Change Password Form</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body class="form-v9">
<div class="page-content" style="background-image: url('../images/form-v9.jpg'); background-size: cover">
    <div class="form-v9-content">
        <div class="row">
            <img src="../images/MusicHub_logo.png" alt="" class="logo">
        </div>
        <form class="form-detail" th:action="@{/user/change-password}" th:method="post" role="form" th:object="${newPasswordDTO}">
            <h2>Change Password</h2>
            <p class="message error" th:if="${param.done}" >Password has changed! Back to <a class="link" th:href="@{/}">Home</a> page</p>
            <p class="message error" th:if="${#fields.hasErrors('currentPassword')||#fields.hasErrors('newPassword')}" th:text="*{#fields.errors('newPassword')}"></p>
            <p class="message error" th:if="${param.invalid}">Invalid current password</p>
            <div class="form-row-total">
                <div class="form-row form-login">
                    <input type="password" name="currentPassword" th:field="*{currentPassword}" class="input-text" placeholder="Current Password">
                </div>
            </div>
            <div class="form-row-total">
                <div class="form-row form-login">
                    <input type="password" name="newPassword" th:field="*{newPassword}" class="input-text" placeholder="New Password">
                </div>
            </div>
            <div class="form-row-last">
                <input type="submit" class="register" value="Change password">
            </div>
        </form>
    </div>
</div>
</body>
</html>
