<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p th:if="${param.done}" class="message error">Thay doi thanh cong</p>
<form th:action="@{/user/change-password}" th:method="post" role="form" th:object="${newPasswordDTO}">
    <input type="password" name="currentPassword" th:field="*{currentPassword}">
    <p class="message error" role="alert" th:if="${#fields.hasErrors('currentPassword')}" th:text="*{#fields.errors('currentPassword')}"></p>
    <p th:if="${param.invalid}" class="message error">mat khau cu khong chinh xac</p>
    <input type="password" name="newPassword" th:field="*{newPassword}">
    <p class="message error" role="alert" th:if="${#fields.hasErrors('newPassword')}" th:text="*{#fields.errors('newPassword')}"></p>
    <button type="submit">Change</button>
</form>
</body>
</html>