<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="us">
<head>
  <meta charset="utf-8">
  <title>Login Form</title>
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Main Style Css -->
  <link rel="stylesheet" href="css/style.css"/>
</head>
<body class="form-v9">
<div class="page-content" style="background-image: url('images/form-v9.jpg'); background-size: cover">
  <div class="form-v9-content">
    <div class="row">
      <img src="images/MusicHub_logo.png" alt="" class="logo">
    </div>
    <form class="form-detail" th:action="@{/login}" method="POST">
      <h2>Login Form</h2>
      <p th:if="${param.error}" class="message error">Invalid email/password or account is not active</p>
      <div class="form-row-total">
        <div class="form-row form-login">
          <input type="text" name="email" class="input-text" placeholder="Your Email">
        </div>
      </div>
      <div class="form-row-total">
        <div class="form-row form-login">
          <input type="password" name="password" id="password" class="input-text" placeholder="Your Password">
        </div>
      </div>
      <div class="form-row-last">
        <div class="form-row form-2button">
          <input type="submit" name="login" class="button register" value="Login">
          <span>OR</span>
          <button type="button" name="register" class="button login" value="Register"><a th:href="@{/register}">Register</a></button>
        </div>
      </div>
    </form>
    <p class="message error">Forget password? Please <a class="link" th:href="@{/reset-password}">click here</a> to reset password.</p>
  </div>
</div>
</body>
</html>
