<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Registration Form</title>
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Main Style Css -->
  <link rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body class="form-v9">
<div class="page-content" style="background-image: url('images/form-v9.jpg'); background-size: cover">
  <div class="form-v9-content">
    <div class="row">
      <img th:src="@{images/MusicHub_logo.png}" alt="" class="logo">
    </div>
    <form class="form-detail" th:action="@{/register}" th:method="post" role="form" th:object="${userDTO}">
      <h2>Registration Form</h2>
      <input type="hidden" class="form-control" th:field="*{id}">
      <p class="message error" role="alert" th:if="${#fields.hasErrors('email')}" th:text="*{#fields.errors('email')}"></p>
      <p class="message error" role="alert" th:if="${message}" th:text="${message}"></p>
      <p class="message error" role="alert" th:if="${#fields.hasErrors('name')}" th:text="*{#fields.errors('name')}"></p>
      <p class="message error" role="alert" th:if="${#fields.hasErrors('password')}" th:text="*{#fields.errors('password')}"></p>
      <p class="message error" role="alert" th:if="${param.active}">Please check your email and active account</p>
      <div class="form-row-total">
        <div class="form-row">
          <input type="text" name="full-name" id="full-name" class="input-text" placeholder="Your Name"  th:field="*{name}">
        </div>
        <div class="form-row">
          <input type="email" name="your-email" id="your-email" class="input-text" placeholder="Your Email"  th:field="*{email}">
        </div>
      </div>
      <div class="form-row-total">
        <div class="form-row">
          <input type="password" name="password" id="password" class="input-text" placeholder="Your Password" th:field="*{password}">
        </div>
        <div class="form-row">
          <input type="password" name="confirm_password" id="confirm_password" class="input-text"
                 placeholder="Confirm Password">
        </div>
      </div>
      <div class="form-row-last">
        <input type="submit" name="register" class="register register-btn" value="Register">
      </div>
    </form>
    <p class="message error">Do you have account? Please <a class="link" th:href="@{/login}">click here</a> to login.</p>
  </div>
</div>
</body>
<script src="js/confirmPW.js"></script>
</html>
