<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="us">
<head>
  <meta charset="utf-8">
  <title>Reset Password</title>
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Main Style Css -->
  <link rel="stylesheet" href="css/style.css"/>
</head>
<body class="form-v9">
<div class="page-content" style="background-image: url('images/form-v9.jpg'); background-size: cover">
  <div class="form-v9-content">
    <div class="row">
      <img src="images/MusicHub_logo.png" alt="" class="logo">
    </div>
    <form class="form-detail" th:action="@{/reset-password}" th:method="post">
      <h2>Reset Password</h2>
      <p class="message">Please input your email ! We will send a link to reset your password.</p>
      <div class="form-row-total">
        <div class="form-row form-rs-pw">
          <input type="text" name="email" class="input-text" placeholder="Your Email">
        </div>
      </div>
      <div class="form-row-last">
        <div class="form-row form-rs-pw">
          <input type="submit" name="login" class="register rs-pw-btn" value="Reset Password">
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>
