<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
  <title>Reset Password - MusicHub</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/bootstrap/css/bootstrap.min.css}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/fonts/iconic/css/material-design-iconic-font.min.css}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/animate/animate.css}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/css-hamburgers/hamburgers.min.css}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/animsition/css/animsition.min.css}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/select2/select2.min.css}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/daterangepicker/daterangepicker.css}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/css/util.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/css/main.css}">
  <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
  <div class="container-login100" style="background-image: url('/login-register/images/bg-01.jpg');">
    <div class="wrap-login100">
      <form class="login100-form validate-form" th:action="@{/reset-password}" th:method="post" role="form">
					<span class="login100-form-title p-b-34 p-t-27">
						Reset password
					</span>
        <p th:unless="${param.sent} or ${param.error}" class="txt1 text-center font-weight-bold text-info">Please input your email ! We will send a link to reset your password.</p>
        <p th:if="${param.sent}" class="txt1 text-center font-weight-bold text-success">Please check your email to reset password.</p>
        <p th:if="${param.error}" class="txt1 text-center font-weight-bold text-warning">Email invalid</p>
        <br>
        <div class="wrap-input100 validate-input" data-validate = "Please enter email">
          <input type="text" name="email" class="input100" placeholder="Your Email">
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/login-register/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/login-register/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/js/main.js}"></script>

</body>
</html>
