<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="us">
<head>
  <meta charset="utf-8">
  <title>Update Password</title>
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Main Style Css -->
  <link rel="stylesheet" th:href="@{../css/style.css}"/>
</head>
<body class="form-v9">
<div class="page-content" style="background-image: url('../images/form-v9.jpg'); background-size: cover">
  <div class="form-v9-content">
    <div class="row">
      <img th:src="@{../images/MusicHub_logo.png}" alt="" class="logo">
    </div>
    <form class="form-detail" th:action="@{/user/update-password}" th:method="post" th:object="${passwordDTO}">
      <h2>Update Password</h2>
      <p class="message">Please input new password</p>
      <p class="message error" role="alert" th:if="${#fields.hasErrors('password')}" th:text="*{#fields.errors('password')}"></p>
      <div class="form-row-total">
        <div class="form-row form-rs-pw">
          <input type="password" name="password" th:field="*{password}" class="input-text" placeholder="New password">
        </div>
      </div>
      <div class="form-row-last">
        <div class="form-row form-rs-pw">
          <input type="submit" name="login" class="register rs-pw-btn" value="Update Password">
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>
