<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="us">-->
<!--<head>-->
<!--  <meta charset="utf-8">-->
<!--  <title>Update Password</title>-->
<!--  &lt;!&ndash; Mobile Specific Metas &ndash;&gt;-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
<!--  &lt;!&ndash; Main Style Css &ndash;&gt;-->
<!--  <link rel="stylesheet" th:href="@{../css/style.css}"/>-->
<!--</head>-->
<!--<body class="form-v9">-->
<!--<div class="page-content" style="background-image: url('../images/form-v9.jpg'); background-size: cover">-->
<!--  <div class="form-v9-content">-->
<!--    <div class="row">-->
<!--      <img th:src="@{../images/MusicHub_logo.png}" alt="" class="logo">-->
<!--    </div>-->
<!--    <form class="form-detail" th:action="@{/user/update-password}" th:method="post" th:object="${passwordDTO}">-->
<!--      <h2>Update Password</h2>-->
<!--      <p class="message">Please input new password</p>-->
<!--      <p class="message error" role="alert" th:if="${#fields.hasErrors('password')}" th:text="*{#fields.errors('password')}"></p>-->
<!--      <div class="form-row-total">-->
<!--        <div class="form-row form-rs-pw">-->
<!--          <input type="password" name="password" th:field="*{password}" class="input-text" placeholder="New password">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-row-last">-->
<!--        <div class="form-row form-rs-pw">-->
<!--          <input type="submit" name="login" class="register rs-pw-btn" value="Update Password">-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
  <title>Reset Password - MusicHub</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/bootstrap/css/bootstrap.min.css}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/fonts/iconic/css/material-design-iconic-font.min.css}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/animate/animate.css}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/css-hamburgers/hamburgers.min.css}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/animsition/css/animsition.min.css}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/select2/select2.min.css}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/vendor/daterangepicker/daterangepicker.css}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/css/util.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/login-register/css/main.css}">
  <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
  <div class="container-login100" style="background-image: url('/login-register/images/bg-01.jpg');">
    <div class="wrap-login100">
      <form class="login100-form validate-form" th:action="@{/user/update-password}" th:method="post" th:object="${passwordDTO}">
					<span class="login100-form-title p-b-34 p-t-27">
						Reset password
					</span>
        <p th:unless="${#fields.hasErrors('password')}" class="txt1 text-center font-weight-bold text-info">Please input new password.</p>
        <p class="txt1 text-center font-weight-bold text-warning" role="alert" th:if="${#fields.hasErrors('password')}" th:text="*{#fields.errors('password')}"></p>
        <br>
        <div class="wrap-input100 validate-input" data-validate = "Please enter email">
          <input type="password" name="password" th:field="*{password}" class="input100" placeholder="New password">
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/login-register/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/login-register/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login-register/js/main.js}"></script>

</body>
</html>
