<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>User Dashboard</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/tag.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>
<body>
<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"><b>Music Hub</b></div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
            <a th:href="@{/add-new-song}" class="list-group-item list-group-item-action bg-light">Upload song</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Favorite songs</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Playlist</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
        </div>
    </div>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <span class="navbar-toggler-icon" id="menu-toggle"></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Admin</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Option
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Change Password</a>
                            <a class="dropdown-item" href="#">User Manager</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid mt-50">
            <h1 style="text-align: center">Upload new song</h1>
            <div class="row mt-50">
                <div class="col-md-6">
                    <form th:action="@{/songs/add}" th:object="${song}" method="post">
                        <table align="left" cellpadding="5">
                            <tr class="form-group">
                                <td style="text-align: left">Name of song</td>
                                <td>
                                    <input type="text" class="form-control" th:field="*{name}" placeholder="Input name of song"/>
                                </td>
                            </tr>
                            <tr class="form-group">
                                <td style="text-align: left">Description</td>
                                <td>
                  <textarea type="text" class="form-control" rows="5"
                            th:field="*{description}" placeholder="Type something about this song"></textarea>
                                </td>
                            </tr>
                            <tr class="form-group">
                                <td style="text-align: left">Upload file of song</td>
                                <td>
                                    <input type="text" class="form-control" id="linkSong" th:field="*{linkSong}" placeholder="Input link or choose file"/>
                                </td>
                            </tr>
                            <tr class="form-group">
                                <td style="text-align: left">Upload avatar</td>
                                <td>
                                    <input type="text" class="form-control" id="linkAvatar" th:field="*{linkImage}" placeholder="Input link or choose file"/>
                                </td>
                            </tr>
                            <tr class="form-group">
                                <td style="text-align: left">Tags</td>
                                <td>
                                    <input type="text" class="form-control tagged" data-removeBtn="true" th:field="*{tags}">
                                </td>
                            </tr>
                            <tr class="form-group">
                                <td></td>
                                <td><input type="submit" class="btn btn-success" value="Add new song"></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="col-md-3 mt-200">
                    <table cellpadding="5">
                        <tr>
                            <td>
                                <form method="post" enctype="multipart/form-data" id="songUploadForm">
                                    <input type="file" name="file" accept="audio/mp3"/>
                                </form>
                            </td>
                            <td>
                                <button type="button" id="uploadSongButton">Upload</button>
                            </td>
                        <tr>
                        <tr>
                            <td>
                                <form method="post" enctype="multipart/form-data" id="avatarUploadForm">
                                    <input type="file" name="file" accept="image/*"/>
                                </form>
                            </td>
                            <td>
                                <button type="button" id="uploadAvatarButton">Upload</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <th:block th:if="${message}">
            <h3 th:text="${message}" class="message text-success"></h3>
        </th:block>
    </div>
</div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/toggleMenu.js"></script>
<script src="js/uploadSong.js"></script>
<script src="js/uploadImage.js"></script>
<script src="js/tag.js"></script>
</body>
</html>
