<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form th:action="@{/create-song}" th:object="${song}" method="post">
  <table align="center">
    <tr>
      <td style="text-align: left">Name of song</td>
      <td>
        <label>
          <input type="text" style="width: 300px; padding: 5px;" th:field="*{name}"/>
        </label>
      </td>
    </tr>
    <tr>
      <td style="text-align: left">Description</td>
      <td>
        <label>
          <textarea type="text" rows="5" style="width: 300px; padding: 5px;" th:field="*{description}"></textarea>
        </label>
      </td>
    </tr>
    <tr>
      <td style="text-align: left">Upload file of song</td>
      <td>
        <form enctype="multipart/form-data" id="songUploadForm">
          Choose file to upload: <input type="file" name="file"/>
          <button type="button" id="uploadSongButton">Upload</button>
        </form>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="text" id="linkSong" style="width: 300px; padding: 5px;" th:field="*{linksong}"/>
      </td>
    </tr>
    <tr>
      <td style="text-align: left">Upload avatar</td>
      <td>
        <form enctype="multipart/form-data" id="avatarUploadForm">
          Choose file to upload: <input type="file" name="file"/>
          <button type="button" id="uploadAvatarButton">Upload</button>
        </form>
      </td>
    <tr>
      <td></td>
      <td>
        <input type="text" id="linkAvatar" style="width: 300px; padding: 5px;" th:field="*{avatar}"/>
      </td>
    </tr>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Them"></td>
    </tr>
  </table>
</form>
</body>
<script src="js/uploadImage.js"></script>
<script src="js/uploadSong.js"></script>
</html>
