<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="poly.css">
</head>
<body>
<div class="container" style = "height: auto">
    <header class="row">
        <div class="page-content" style="background-image: url('../images/form-v9.jpg'); background-size: cover">
            <img src="../images/MusicHub_logo.png" alt="" class="logo">
        </div>
        <div class="row">
            <h1>Welcome to music</h1>
        </div>
    </header>
    <div class = "row">
            <div class="list" style="overflow: hidden">
                <input type="text" id="search" onkeyup="search" placeholder="search">
                <div class="lstcnt nano-content" id="list1" nv-scope="list" nv-scope-current taibindex="0" style="right: -15px">
                    <div nv-el class="a0" id="0">
                        <li>1</li>
                        <li>
                            "Anh nha o dau the"
                        </li>
                        <li>
                            <small>AMEE</small>
                        </li>
                    </div>
                    <div nv-el class="a1" id="1">
                        <li>2</li>
                        <li>
                            "Anh nha o dau the"
                        </li>
                        <li>
                            <small>AMEE</small>
                        </li>
                    </div>
                    <div nv-el class="a2" id="2">
                        <li>3</li>
                        <li>
                            "Anh nha o dau the"
                        </li>
                        <li>
                            <small>AMEE</small>
                        </li>
                    </div>
                    <div nv-el class="a3" id="3">
                        <li>4</li>
                        <li>
                            "Anh nha o dau the"
                        </li>
                        <li>
                            <small>AMEE</small>
                        </li>
                    </div>
                    <div nv-el class="a4" id="4">
                        <li>5</li>
                        <li>
                            "Anh nha o dau the"
                        </li>
                        <li>
                            <small>AMEE</small>
                        </li>
                    </div>
                    <div nv-el class="a5" id="5">
                        <li>6</li>
                        <li>
                            "Anh nha o dau the"
                        </li>
                        <li>
                            <small>AMEE</small>
                        </li>
                    </div>
                    <div nv-el class="a6" id="6">
                        <li>7</li>
                        <li>
                            "Anh nha o dau the"
                        </li>
                        <li>
                            <small>AMEE</small>
                        </li>
                    </div>
                    <div nv-el class="a7" id="7">
                        <li>8</li>
                        <li>
                            "Anh nha o dau the"
                        </li>
                        <li>
                            <small>AMEE</small>
                        </li>
                    </div>
                </div>
            </div>
    </div>
</div>
</body>
</html>
