<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Registration Form</title>
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Main Style Css -->
  <link rel="stylesheet" href="css/style.css"/>
</head>
<body class="form-v9">
<div class="page-content" style="background-image: url('images/form-v9.jpg'); background-size: cover">
  <div class="form-v9-content">
    <div class="row">
      <img src="images/MusicHub_logo.png" alt="" class="logo">
    </div>
    <form class="form-detail" action="#" method="post">
      <h2>Login Form</h2>
      <div class="form-row-total">
        <div class="form-row form-login">
          <input type="text" name="full-name" id="full-name" class="input-text" placeholder="Your Name" required>
        </div>
      </div>
      <div class="form-row-total">
        <div class="form-row form-login">
          <input type="password" name="password" id="password" class="input-text" placeholder="Your Password" required>
        </div>
      </div>
      <div class="form-row-last">
        <input type="submit" name="register" class="register" value="Login">
      </div>
    </form>
  </div>
</div>
</body>
</html>
